@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");


.order{
    display: flex;
    flex-direction: row;
    box-align:space-between;
    margin-top: 2rem;
    padding-bottom: 3rem;
    
}


.order-success{
    padding-top: 5rem;
    padding-right: 5rem;
}     

.order-success h1{
    font-family: dream;
    font-size: 5rem;
    color:#3a4731;
}

.success-note{
    margin: 10px;
    padding-left: 20%;
    padding-right: 10%;
    padding-top: 3rem;
}


.success-note p{
    font-size: 1.5rem;
    font-family: 'Poppins';
    color:#3a4731;
}

.success-note span{
    padding-top: 1rem;

}

.shop-btn{
    position: relative;
    top: 14rem;
    background-color:rgb(181 119 76);
    border-radius: 3rem;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
}

.shop-btn:hover {
    background-color: rgb(196, 154, 126);

}

input[type="button"]{
    position: relative;
    top: -5rem;
    color: rgb(100 99 79);
    background-color: #fff;
    font-weight: 500;
    font-size: 18px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 5rem;
}

input[type="button"]:hover{
    text-decoration: underline;
}
